
{% assign attribute_keyword = 'Tech:' %}

{% for tag in product.tags %}
    {% assign taglist = product.tags | join: ' ' %}
{% endfor %}

{% if taglist contains attribute_keyword %}
    <div class="product-single__description rte">
        <h1 class="p-description-h1">Technologies</h1>
            <div class="p-technologies">
                <ul>
                {% for tag in product.tags %}
                    {%- comment -%}Loop techs tags{%- endcomment -%}
                    {% if tag contains attribute_keyword %}
                        {% if tag == "Tech: XPAN" %}
                            {% capture img %}{{ 'products.technology_xpan.img' | t }}{% endcapture %}
                            {% capture img_tag %}{{ 'products.technology_xpan.title' | t }}{% endcapture %}
                            <li>
                                <div class="p-technology-content">
                                    <div class="p-technology-content-img">
                                        {{ img | asset_img_url: '210x' | img_tag: img_tag }}
                                    </div>
                                    <div class="p-technology-content-head">{{ 'products.technology_xpan.title' | t }}</div>
                                    <div class="p-technology-content-text">{{ 'products.technology_xpan.text' | t }}</div>
                                </div>
                            </li>
                        {% endif %}
                        {% if tag == "Tech: Pareshok" %}
                            {% capture img %}{{ 'products.technology_pareshok.img' | t }}{% endcapture %}
                            {% capture img_tag %}{{ 'products.technology_pareshok.title' | t }}{% endcapture %}
                            <li>
                                <div class="p-technology-content">
                                    <div class="p-technology-content-img">{{ img | asset_img_url: '210x' | img_tag: img_tag }}</div>
                                    <div class="p-technology-content-head">{{ 'products.technology_pareshok.title' | t }}</div>
                                    <div class="p-technology-content-text">{{ 'products.technology_pareshok.text' | t }}</div>
                                </div>
                            </li>
                        {% endif %}
                        {% if tag == "Tech: Airflow" %}
                            {% capture img %}{{ 'products.technology_airflow.img' | t }}{% endcapture %}
                            {% capture img_tag %}{{ 'products.technology_airflow.title' | t }}{% endcapture %}
                            <li>
                                <div class="p-technology-content">
                                    <div class="p-technology-content-img">
                                        {{ img | asset_img_url: '210x' | img_tag: img_tag }}
                                    </div>
                                    <div class="p-technology-content-head">{{ 'products.technology_airflow.title' | t }}</div>
                                    <div class="p-technology-content-text">{{ 'products.technology_airflow.text' | t }}</div>
                                </div>
                            </li>
                        {% endif %}
                        {% if tag == "Tech: Shieldtex" %}
                            {% capture img %}{{ 'products.technology_shieldtex.img' | t }}{% endcapture %}
                            {% capture img_tag %}{{ 'products.technology_shieldtex.title' | t }}{% endcapture %}
                            <li>
                                <div class="p-technology-content">
                                    <div class="p-technology-content-img">
                                        {{ img | asset_img_url: '210x' | img_tag: img_tag }}
                                    </div>
                                    <div class="p-technology-content-head">{{ 'products.technology_shieldtex.title' | t }}</div>
                                    <div class="p-technology-content-text">{{ 'products.technology_shieldtex.text' | t }}</div>
                                </div>
                            </li>
                        {% endif %}
                        {% if tag == "Tech: Artic Grip" %}
                            {% capture img %}{{ 'products.technology_articgrip.img' | t }}{% endcapture %}
                            {% capture img_tag %}{{ 'products.technology_articgrip.title' | t }}{% endcapture %}
                            <li>
                                <div class="p-technology-content">
                                    <div class="p-technology-content-img">
                                        {{ img | asset_img_url: '210x' | img_tag: img_tag }}
                                    </div>
                                    <div class="p-technology-content-head">{{ 'products.technology_articgrip.title' | t }}</div>
                                    <div class="p-technology-content-text">{{ 'products.technology_articgrip.text' | t }}</div>
                                </div>
                            </li>
                        {% endif %}
                        {% if tag == "Tech: Realreflex" %}
                            {% capture img %}{{ 'products.technology_realreflex.img' | t }}{% endcapture %}
                            {% capture img_tag %}{{ 'products.technology_realreflex.title' | t }}{% endcapture %}
                            <li>
                                <div class="p-technology-content">
                                    <div class="p-technology-content-img">
                                        {{ img | asset_img_url: '210x' | img_tag: img_tag }}
                                    </div>
                                    <div class="p-technology-content-head">{{ 'products.technology_realreflex.title' | t }}</div>
                                    <div class="p-technology-content-text">{{ 'products.technology_realreflex.text' | t }}</div>
                                </div>
                            </li>
                        {% endif %}
                        {% if tag == "Tech: Kevlar" %}
                            {% capture img %}{{ 'products.technology_kevlar.img' | t }}{% endcapture %}
                            {% capture img_tag %}{{ 'products.technology_kevlar.title' | t }}{% endcapture %}
                            <li>
                                <div class="p-technology-content">
                                    <div class="p-technology-content-img">
                                        {{ img | asset_img_url: '210x' | img_tag: img_tag }}
                                    </div>
                                    <div class="p-technology-content-head">{{ 'products.technology_kevlar.title' | t }}</div>
                                    <div class="p-technology-content-text">{{ 'products.technology_kevlar.text' | t }}</div>
                                </div>
                            </li>
                        {% endif %}
                        {% if tag == "Tech: Thinsulate 200G" %}
                            {% capture img %}{{ 'products.technology_thinsulate_200g.img' | t }}{% endcapture %}
                            {% capture img_tag %}{{ 'products.technology_thinsulate_200g.title' | t }}{% endcapture %}
                            <li>
                                <div class="p-technology-content">
                                    <div class="p-technology-content-img">
                                        {{ img | asset_img_url: '210x' | img_tag: img_tag }}
                                    </div>
                                    <div class="p-technology-content-head">{{ 'products.technology_thinsulate_200g.title' | t }}</div>
                                    <div class="p-technology-content-text">{{ 'products.technology_thinsulate_200g.text' | t }}</div>
                                </div>
                            </li>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                </ul>
            </div>
     </div>
{% endif %}

    


