{% assign attribute_keyword = "Certif:" %}

{% for tag in product.tags %}
    {% assign tagslist = product.tags | join: ',' %}
{% endfor %}

{% assign tags_certif = '' | split: ',' %}

{% for tag in product.tags %}
    {% if tag contains attribute_keyword %}
        {% assign loop = tag | split: ',' %}
        {% assign tags_certif = tags_certif | concat: loop  %}
        {% assign has_tags_certif = "yes" %}
    {% endif %}
{% endfor %}


{% if tags_certif contains "Certif: csa_toe_poncture" %}
  Hey there, Shopify employee!
{% endif %}


{% if has_tags_certif == "yes" %}
    <div class="product-single__description rte">
        <h1 class="p-description-h1">Certifications</h1>
            <div class="p-certifications">
                <ul>
                {% for tag in product.tags %}
                    {%- comment -%}Loop techs tags{%- endcomment -%}
                    {% if tag contains attribute_keyword %}
                        {% if tag == "Tech: XPAN" %}
                            {% capture img %}{{ 'products.technology_xpan.img' | t }}{% endcapture %}
                            {% capture img_tag %}{{ 'products.technology_xpan.img' | t }}{% endcapture %}
                            <li>
                                <div class="p-technology-content">
                                    <div class="p-technology-content-img">
                                        {{ img | asset_img_url: '210x' | img_tag: img_tag }}
                                    </div>
                                    <div class="p-technology-content-head">{{ 'products.technology_xpan.title' | t }}</div>
                                    <div class="p-technology-content-text">{{ 'products.technology_xpan.text' | t }}</div>
                                </div>
                            </li>
                        {% endif %}
                        {% if tag == "Tech: Pareshok" %}
                            {% capture img %}{{ 'products.technology_pareshok.img' | t }}{% endcapture %}
                            {% capture img_tag %}{{ 'products.technology_pareshok.img' | t }}{% endcapture %}
                            <li>
                                <div class="p-technology-content">
                                    <div class="p-technology-content-img">{{ img | asset_img_url: '210x' | img_tag: img_tag }}</div>
                                    <div class="p-technology-content-head">{{ 'products.technology_pareshok.title' | t }}</div>
                                    <div class="p-technology-content-text">{{ 'products.technology_pareshok.text' | t }}</div>
                                </div>
                            </li>
                        {% endif %}
                        {% if tag == "Tech: Airflow" %}
                            {% capture img %}{{ 'products.technology_airflow.img' | t }}{% endcapture %}
                            {% capture img_tag %}{{ 'products.technology_airflow.img' | t }}{% endcapture %}
                            <li>
                                <div class="p-technology-content">
                                    <div class="p-technology-content-img">
                                        {{ img | asset_img_url: '210x' | img_tag: img_tag }}
                                    </div>
                                    <div class="p-technology-content-head">{{ 'products.technology_airflow.title' | t }}</div>
                                    <div class="p-technology-content-text">{{ 'products.technology_airflow.text' | t }}</div>
                                </div>
                            </li>
                        {% endif %}
                        {% if tag == "Tech: Shieldtex" %}
                            {% capture img %}{{ 'products.technology_shieldtex.img' | t }}{% endcapture %}
                            {% capture img_tag %}{{ 'products.technology_shieldtex.img' | t }}{% endcapture %}
                            <li>
                                <div class="p-technology-content">
                                    <div class="p-technology-content-img">
                                        {{ img | asset_img_url: '210x' | img_tag: img_tag }}
                                    </div>
                                    <div class="p-technology-content-head">{{ 'products.technology_shieldtex.title' | t }}</div>
                                    <div class="p-technology-content-text">{{ 'products.technology_shieldtex.text' | t }}</div>
                                </div>
                            </li>
                        {% endif %}
                        {% if tag == "Tech: Artic Grip" %}
                            {% capture img %}{{ 'products.technology_articgrip.img' | t }}{% endcapture %}
                            {% capture img_tag %}{{ 'products.technology_articgrip.img' | t }}{% endcapture %}
                            <li>
                                <div class="p-technology-content">
                                    <div class="p-technology-content-img">
                                        {{ img | asset_img_url: '210x' | img_tag: img_tag }}
                                    </div>
                                    <div class="p-technology-content-head">{{ 'products.technology_articgrip.title' | t }}</div>
                                    <div class="p-technology-content-text">{{ 'products.technology_articgrip.text' | t }}</div>
                                </div>
                            </li>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                </ul>
            </div>
     </div>
{% endif %}

    


