{% assign attribute_keyword = "Certif:" %}

{% assign tags_certif = '' | split: ',' %}

{% for tag in product.tags %}
    {% if tag contains attribute_keyword %}
        {% assign loop = tag | split: ',' %}
        {% assign tags_certif = tags_certif | concat: loop  %}
        {% assign has_tags_certif = "yes" %}
    {% endif %}
{% endfor %}

{% if has_tags_certif == "yes" %}
    <div class="product-single__description rte">
        <h1 class="p-description-h1">Certifications</h1>
            <div class="p-certifications">
                {%- comment -%} Need to show certification in order{%- endcomment -%}
                {% if tags_certif contains "Certif: csa_toe_poncture" %}
                    {% capture img %}{{ 'products.certification_csa_toe_poncture.img' | t }}{% endcapture %}
                    {% capture img_tag %}{{ 'products.certification_csa_toe_poncture.text' | t }}{% endcapture %}
                    <div class="p-certification-content">

                        <div class="p-certification-content-img">
                            {{ img | asset_img_url: '50x' | img_tag: img_tag }}
                        </div>
                        <div class="p-certification-content-text">
                            {{ 'products.certification_csa_toe_poncture.text' | t }}
                        </div>
                     </div>

                {% endif %}
                {% if tags_certif contains "Certif: csa_elect" %}
                    {% capture img %}{{ 'products.certification_csa_elect.img' | t }}{% endcapture %}
                    {% capture img_tag %}{{ 'products.certification_csa_elect.text' | t }}{% endcapture %}
                    <div class="p-certification-content">

                        <div class="p-certification-content-img">
                            {{ img | asset_img_url: '50x' | img_tag: img_tag }}
                        </div>
                        <div class="p-certification-content-text">
                            {{ 'products.certification_csa_elect.text' | t }}
                        </div>
                     </div>
                {% endif %}
                {% if tags_certif contains "Certif: csa_mata" %}
                    {% capture img %}{{ 'products.certification_csa_mata.img' | t }}{% endcapture %}
                    {% capture img_tag %}{{ 'products.certification_csa_mata.text' | t }}{% endcapture %}
                    <div class="p-certification-content">

                        <div class="p-certification-content-img">
                            {{ img | asset_img_url: '50x' | img_tag: img_tag }}
                        </div>
                        <div class="p-certification-content-text">
                            {{ 'products.certification_csa_mata.text' | t }}
                        </div>
                     </div>
                {% endif %}
                {% if tags_certif contains "Certif: astm_i75" %}
                    {% capture img %}{{ 'products.certification_astm_i_75.img' | t }}{% endcapture %}
                    {% capture img_tag %}{{ 'products.certification_astm_i_75.text' | t }}{% endcapture %}
                    <div class="p-certification-content">
                        <div class="p-certification-content-img">
                            {{ img | asset_img_url: '50x' | img_tag: img_tag }}
                        </div>
                        <div class="p-certification-content-text">
                            {{ 'products.certification_astm_i_75.text' | t }}
                        </div>
                     </div>
                {% endif %}
                {% if tags_certif contains "Certif: astm_c75" %}
                    {% capture img %}{{ 'products.certification_astm_c_75.img' | t }}{% endcapture %}
                    {% capture img_tag %}{{ 'products.certification_astm_c_75.text' | t }}{% endcapture %}
                    <div class="p-certification-content">
                        <div class="p-certification-content-img">
                            {{ img | asset_img_url: '50x' | img_tag: img_tag }}
                        </div>
                        <div class="p-certification-content-text">
                            {{ 'products.certification_astm_c_75.text' | t }}
                        </div>
                     </div>
                {% endif %}
                {% if tags_certif contains "Certif: astm_pr" %}
                    {% capture img %}{{ 'products.certification_astm_pr.img' | t }}{% endcapture %}
                    {% capture img_tag %}{{ 'products.certification_astm_pr.text' | t }}{% endcapture %}
                    <div class="p-certification-content">
                        <div class="p-certification-content-img">
                            {{ img | asset_img_url: '50x' | img_tag: img_tag }}
                        </div>
                        <div class="p-certification-content-text">
                            {{ 'products.certification_astm_pr.text' | t }}
                        </div>
                     </div>
                {% endif %}
                {% if tags_certif contains "Certif: astm_mt_75" %}
                    {% capture img %}{{ 'products.certification_astm_mt_75.img' | t }}{% endcapture %}
                    {% capture img_tag %}{{ 'products.certification_astm_mt_75.text' | t }}{% endcapture %}
                    <div class="p-certification-content">
                        <div class="p-certification-content-img">
                            {{ img | asset_img_url: '50x' | img_tag: img_tag }}
                        </div>
                        <div class="p-certification-content-text">
                            {{ 'products.certification_astm_mt_75.text' | t }}
                        </div>
                     </div>
                {% endif %}
                {% if tags_certif contains "Certif: astm_eh" %}
                    {% capture img %}{{ 'products.certification_astm_eh.img' | t }}{% endcapture %}
                    {% capture img_tag %}{{ 'products.certification_astm_eh.text' | t }}{% endcapture %}
                    <div class="p-certification-content">
                        <div class="p-certification-content-img">
                            {{ img | asset_img_url: '50x' | img_tag: img_tag }}
                        </div>
                        <div class="p-certification-content-text">
                            {{ 'products.certification_astm_eh.text' | t }}
                        </div>
                     </div>
                {% endif %}

            </div>
     </div>
{% endif %}

    


